/* Navbar */

.navbar {
  background-color: #262421;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: yellow;
}

.navbar .dropdown-menu {
  background-color: #c5c5c5;
}

.navbar .dropdown-item {
  color: black;
}

.navbar .dropdown-item:hover {
  background-color: #262421;
  color: white;
}

/* Body Personalizacion */

.body {
  background-color: #312e2b;

}

/* Contenedores */

.btn {
  margin-top: 3%;
  width: 60%;
  font-size: 18px;
}


.btn-custom {
  background-color: #7fA650;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

}

.btn-custom .btn-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  object-fit: contain;

}

.cartaListaMovs {
  background-color: #262421 !important;
  height: 460px !important;
  margin-top: 10%;
}

.cartaCro {
  background-color: #262421 !important;
  height: 350px !important;
  margin-top: 10%;
  margin-left: 10%;
}

.fondoOscuro {
  background-color: #262421;
  padding-bottom: 5%;
  border-radius: 10px;
  border: 1px solid #262421;
  display: flex;
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 4%;
}

/* Navbar */

.navbar {
  background-color: #262421;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: yellow;
}

.navbar .dropdown-menu {
  background-color: #c5c5c5;
}

.navbar .dropdown-item {
  color: black;
}

.navbar .dropdown-item:hover {
  background-color: #262421;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

}

.modal-content {
  background-color: #262421 !important;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888 !important;
  max-width: 500px;
  text-align: center;
  color: white !important;
}



.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  .modal-content {
    margin: 10% auto;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .modal-content {
    margin: 5% auto;
    padding: 10px;
    max-width: 300px;
  }
}

ol {
  list-style-type: none;
  counter-reset: item;
}

ol li::before {
  content: counter(item) ". ";
  font-weight: bold;
  counter-increment: item;
}

ol li {
  margin-bottom: 2%;
}

.cronometro {
  color: white;
  font-size: 30px;
  font-family: digital;
  padding: 10%;
}

@media screen and (max-width: 995px) {
  .cartaListaMovs {
    background-color: #262421 !important;
    width: 85% !important;
    height: 300px !important;
    margin-top: 10%;
    margin-left: 7%;
  }

  .cartaCro {
    background-color: #262421 !important;
    height: 270px !important;
    margin-top: 10%;
    width: 85% !important;
    margin-left: 7%;
  }

  .cartaCro-body
  {
    padding-top: 0% !important;
    padding-bottom: 20px !important;

    height: 100px !important;
  }


  .cronometro {
    color: white;
    font-size: 20px;
    font-family: digital;
    padding: 1%;
  }
}


@media screen and (max-width: 1603px) and (min-width: 1291px) {
  .cartaListaMovs {
    background-color: #262421 !important;
    width: 100% !important;
    height: 450px !important;
    margin-top: 10%;
    margin-left: 7%;
  }

  .cartaCro {
    background-color: #262421 !important;
    height: 270px !important;
    margin-top: 50%;
    width: 85% !important;
    margin-left: 14%;
  }

  .colData
  {
    width: 300px!important;
  }

  .cartaCro-body
  {
    padding-top: 0% !important;
    padding-bottom: 20px !important;

    height: 100px !important;
  }


  .cronometro {
    color: white;
    font-size: 20px;
    font-family: digital;
    padding: 1%;
  }


}


@media screen and (max-width: 1290px) and (min-width: 995px) {
  .cartaListaMovs {
    background-color: #262421 !important;
    width: 40% !important;
    height: 270px !important;
  }

  .colData
  {
    display: flex;
    margin-bottom: 5%;
  }
  
  .cartaCro {
    background-color: #262421 !important;
    height: 270px !important;
    margin-right: 5%;

  }

  
  .cartaCro-body
  {
    padding-top: 0% !important;
    padding-bottom: 20px !important;

    height: 100px !important;
  }
  .cronometro {
    color: white;
    font-size: 20px;
    font-family: digital;
    padding: 1%;
  }
}



.cardGuardado {
  cursor: pointer;
}

.cardGuardado:hover {
  background-color: lightgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


/* Cartas de contacto */

.cartacontacto {
  margin-top: 10%;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  isolation: isolate;
  width: 22%;
  height: 250px;
  background-color: #000;
  border-radius: 8px;
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cartacontacto-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 20%;
  border-radius: inherit;
  transition: 250ms;
}

.cartacontactobody {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px;
  color: #7fA650;
}

.cartacontactocategoria {
  color: #fff;
}

.cartacontactoboton {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #7fA650;
  color: #000;
}

.cartacontacto:hover .cartacontacto-img {
  transform: translateY(-112px) scale(0.75);
}

@media screen and (max-width: 600px) {
  .cartacontacto {
    width: 48%;
  }
}
